.home {
    text-align: center;
    padding: 0px 100px;
}
.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.col {
    width: 360px;
    h2 {
    text-align: left;
    display: flex;
    font-size: 20px;
    margin-bottom: 10px;
    }
    p {
        font-size: 14px;
        text-align: left;
    }
}
.info {
    
    img {

        width: 80px;
        height: 80px;
        margin-right: 10px;
        float:left;
    }
    p {

        flex: 2;
        font-size: 14px;
        text-align: left;
        
    }
}
.card {
    background-color: #EFEFEF;
    margin-top: 20px;
    margin-bottom: 26px;
    padding: 30px 176px;

    h3 {
        font-size: 18px;
        margin-bottom: 10px;
        padding-top: 10px;
    }
    p {
        font-size: 14px;
    }
}
.logo1 {
    width: 200px;
    margin-top: 20px;
}


@media (max-width: 1023px) {
    .home {
        padding: 0 40px;
        
    }
    .card {
        background-color: #EFEFEF;
        margin-top: 20px;
        margin-bottom: 40px;
        padding: 0;
    
        h3 {
            font-size: 18px;
            margin-bottom: 10px;
        }
        p {
            font-size: 16px;
            padding-bottom: 20px;
            text-align: justify;
            padding: 0 14px 14px;
        }
    }
    .info {
        display: block;
        p {
            text-align: center
            
        }
        img {
            margin-bottom: 10px;
            float: none;
        }
    }
    .row {
        margin-bottom: 40px;
    }
    .col {
        display: flex;
        flex-direction: column;
        h2 {
            font-size: 18px;
            margin-bottom: 20px;
            text-align: center;
        }
        p {
            font-size: 16px;
            text-align: left;
        }
    }
    .logo1 {
        margin-top: 60px;
        margin-bottom: 20px;
    }
}


@media (max-width: 739px) {
    .row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 0px;
    }
    .info {
        display: block;
        img {
        
            width: 100px;
            height: 100px;
            margin-bottom: 10px;
          
        }
    }
    .home {
        padding: 20px;
    }
    .logo1 {
        width: 180px;
    }
    .col {
        
        h2 {
            text-align: center;
            display: block;
            font-size: 20px;
        }
        p {
            text-align: justify;
            font-size: 16px;
            padding: 0 5px;
        }
        margin-bottom: 20px;
    }
    .card {
        h3 {
            font-size: 18px;
        }
        p {
            font-size: 16px;
        }
    }

}