*{
  margin:0;
  padding:0;
  text-decoration: none;
}
.container{
  display:flex;
}
main{
  width: 100%;
}
.sidebar{
  background: #191718;
  color: #fff;
  height: 100vh;
  width: 200px;
  transition: all 0.5s;
  display: block ;
}

.logo{
  font-size: 30px;

}
.bars{
  display: flex;
  font-size: 25px;
  margin-left: 50px;
}
.link{
  display: flex;
  color: #AAAAAA;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
  border-bottom: 1px solid #5f5a5a;
}
.link:hover{
  background:#5C5C5C;
  color: #fff;
  transition: all 0.5s;
}
.active{
  color: #fff;
}
.icon, .link_text{
  font-size: 15px;
  font-weight: 600;
}
.footer {
  height: 79px;
  display: flex;
  align-items: center;
  border-top: 1px solid #ccc;
  color: #3E3E3E;
  font-size: 14px;
}
.footer p {
  padding: 0 100px;
}

.menu {
  display: block;
  position: absolute;
  right: 5px;
  top: 5px;
}

@media (max-width: 1023px){
  .sidebar {
   top:0;
   right: 0;
   position: absolute;
   left: 0;
   width: 100vw !important;
   height: 204px;
  }
  .footer  {
 
   position: absolute;
  bottom: 0;
  width: 100%;
  position: static;
  }
  .footer p {
    padding: 0 50px;
  }
  .link {
    display: flex;
    flex-direction: row;
    font-size: 16px;
  }
  
  .menu {
    font-size: 22px;
    display: block;
    position: absolute;
    z-index: 1;
    right: 10px;
    top: 10px;
  }
}

@media (max-width: 739px) {
  .footer  {
    text-align: center;
    display: flex;
    justify-content: center;
    position: static;
  }
  
  .footer p {
    margin: 0;
  }
  .link {
    text-align: center;
  }
  .menu {
    display: block;
    position: absolute;
    z-index: 1;
    right: 10px;
    top: 10px;
    font-size: 22px;
  }
  
}